<app-tag-header></app-tag-header>
<!--title start-->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">
                <h2 class="title"><span>Tag List - Standard</span></h2>
            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
            </div>
        </div>
    </div>
</div>
<!--title end -->
<!--toolbar start-->
<div class="breadcrumb-bg breadcrumb-for-bar">
    <div class="container dish-toolbar">
        <div class="row">
            <div class=" col-sm-12 col-md-6 col-lg-6">


            </div>
            <div class=" col-sm-12 col-md-6 col-lg-6 toolbar-action">
                <span class="toolbar-label">     Sort: </span>
                <span class="action-link" (click)="changeSorting('created')">     Created</span>
                <span class="action-link" (click)="changeSorting('name')">     Name</span>
            </div>

        </div>
    </div>

</div>
<!--toolbar end -->
<!--content start-->
<section class="admin-section">
    <div class="container">
        <div class="row ">
            <!-- results -->
            <div class="col-md-8 col-lg-8 loading-box">
                <div *ngIf="tagList.length == 0 " class="loading-text">no results...</div>
                <ng-container *ngIf="tagList.length > 0 ">
                    <div *ngFor="let result of tagList" class="result-text">
                        <span (click)="selectTag(result);">{{result.name}} ({{result.tag_id}})</span>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="ls-admin-sidebar-dark">
                    <div>
                        <div class="sidebar-dark-title">Actions</div>

                        <div class="ls-panel" *ngIf="showAddToUser">
                            <div (click)="toggleShowAssign()" class="cancel-link">
                                <img class="sm-button"
                                     src="../../../assets/images/listshop/icons/orangeround/xmarksthespot.png"
                                     alt="add">
                            </div>
                            <div>
                                <table class="generate-panel">
                                    <tr>
                                        <td class="generate-panel"><input [(ngModel)]="userIdForAssign"
                                                                          placeholder="user id"></td>
                                    </tr>
                                    <tr (click)="assignSelectedToUser(userIdForAssign)">
                                        <td>Assign To User</td>
                                    </tr>
                                </table>
                            </div>


                        </div>
                        <ul>
                            <li *ngIf="!showAddToUser" (click)="toggleShowAssign()">Assign To User</li>

                            <li>Assign Tag Category</li>
                        </ul>


                    </div>
                </div>
                <div class="ls-admin-sidebar-light">
                    <div>
                        <div class="sidebar-title">SELECTED</div>

                        <ul>
                            <li *ngFor="let result of selectedTags" class="result-text">
                                <span (click)="deSelectTag(result);">{{result.name}} ({{result.tag_id}})</span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- results -->
        </div>
    </div>
</section>
<!--content End-->