@import '../../../assets/scss/variable';

:host ::ng-deep .p-inputswitch-checked {
  .p-inputswitch-slider {
    background: $color_basic_orange;
  }

  &:not(.p-disabled):hover .p-inputswitch-slider {
    background: $color_basic_orange;
  }

  &:enabled:focus {
    box-shadow: unset;
    border-color: unset;
  }

}

:host ::ng-deep .p-inputtext {
  padding: 1px;
  border: 1px solid $color_tapa;
  text-indent: 2px;

  &:enabled:focus {
    box-shadow: unset;
    border-color: $color_tapa;
  }

  &:enabled:hover {
    border-color: $color_tapa;
  }

}


:host ::ng-deep .p-focus {
  &:hover .p-inputswitch-slider {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: unset;
  }

  &:active .p-inputswitch-slider {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: unset;
  }

  &:hover {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: unset;
  }

  &:active {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: unset;
  }

  outline: 0 none;
  outline-offset: 0;
  box-shadow: unset;

}

:host ::ng-deep input.p-inputtext {
  background: url("../../../assets/images/listshop/icons/orangeplain/filter.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 98%;
  background-position-y: center;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  font-family: Poppins, sans-serif;
}

.link-box {
  width: 230px;
  display: inline-block;
  margin: 5px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-radius: 10px;
  margins: auto;
  border-color: #777777;
  text-align: center;

  .left-side {
    text-align: right;
    display: inline-block;
  }

  .center-side {
    text-align: center;
    display: inline-block;
  }

  .right-side {
    text-align: left;
    display: inline-block;
  }
}

.subtitle {
  font-size: 18px;
}

.admin-section {
  padding-top: 10px;
}

.toolbar-action {
  text-align: right;

  .action-link {
    color: #e67d21;
    text-transform: uppercase;
    display: inline;
    padding: 5px;
  }
}

.toolbar-label {
  color: #777;
  font-weight: bold;
}

.status-block {
  text-transform: capitalize;
  min-width: 175px;
  padding-left: 10px;
  padding-right: 10px;

  span {
    float: right;
    font-weight: normal;
  }

  .status-line {
    font-weight: bold;
  }
}


.ls-admin-sidebar-dark {
  background-color: $color_basic_orange;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  ul {
    padding-inline-start: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 10px
  }

  li {
    color: white;
    padding-bottom: 2px;
    text-align: right;
  }

  .sidebar-dark-title {
    color: white;
    text-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  span {
    padding-right: 5px
  }
}

.ls-admin-sidebar-light {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #979797;
  border-width: 1px;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #777;

  ul {
    padding-inline-start: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 10px
  }

  li {
    color: #777;
    padding-bottom: 2px;
    text-align: center;
  }

  .sidebar-title {
    color: #777;
    text-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  span {
    padding-right: 5px
  }
}

.ls-panel {
  background-color: #ffffff8f;
  border-width: 1px;
  padding-top: 5px;
  margin-right: 5px;

  .panel-title {
    margin-top: -25px;
    color: white;
    margin-bottom: 10px;
  }

  .cancel-link {
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .panel-action {
    width: 100%;
    text-transform: uppercase;
    text-align: right;
  }

  .generate-panel {
    width: 100%;

    td {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
    }
  }
}

.expand-collapse-link {
  text-transform: uppercase;
  color: #e67d21;
  padding-right: 10px;

}

.nav-links {
  width: fit-content;
  margin-left: auto;
  color: #e67d21;

  text-align: right;

  span {
    text-transform: uppercase;
    padding: 0px 10px;
    font-size: 16px;


  }


}

.accented {
  font-weight: bolder;
}

.dish-toolbar {
  padding-bottom: 15px;


  span.action-link {
    color: $color_basic_orange;
    display: block;
    padding: 0.5rem 1rem;
  }
}

.info-box {
  width: 100%;
  min-height: 80px;
  background-color: $color_black_haze;
  border-width: 1.0px;
  border-style: solid;
  padding: 15px;

  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-color: #979797;

}

.search-result-info {
  display: inline-block;
}


.submit-button {
  text-align: center;
  float: right;
  background-color: $color_basic_orange;
  border-radius: 4px;
  color: white;
  padding: 8px;
  display: inline-block;
  float: right;
  margin-left: 8px;
}

.conversion-grid {
  width: 80%;
  margin: auto;

}

