<div class="container tag-header">


    <div class="poor-mans-nav">
        <div class="nav-links">
            <span>
                <a [routerLink]="'../list'">List</a>
            </span>
            <span>
                <a [routerLink]="'../grid'">Grid</a>
            </span>
            <span>
                <a [routerLink]="'../review'">Review Tags</a>
            </span>
            <span>
                <a [routerLink]="'../tool'">Tool</a>
            </span>


        </div>
    </div>
</div>
