<app-tag-header></app-tag-header>
<!--title start-->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">
                <h2 class="title"><span>Tag Grid</span></h2>
            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
            </div>
        </div>
    </div>
</div>
<!--title end -->
<!--toolbar start-->
<div class="breadcrumb-bg breadcrumb-for-bar">
    <div class="container dish-toolbar">
        <div class="row">
            <div class=" col-sm-12 col-md-6 col-lg-6">
                <input type="text" class="form-control searchbox"
                       placeholder="Find Tags"
                       [(ngModel)]="searchFragment"
                       (keyup.enter)="searchTags()"
                />
            </div>
            <div class=" col-sm-12 col-md-6 col-lg-6 toolbar-action">
                <span class="expand-collapse-link" (click)="expandOrCollapseGrid(true)">Expand All</span>
                <span class="expand-collapse-link" (click)="expandOrCollapseGrid(false)">Collapse All</span>

            </div>

        </div>
    </div>

</div>
<!--toolbar end -->
<!--content start-->
<section class="admin-section">
    <div class="container">
        <div class="row ">
            <!-- results -->
            <div class="col-md-8 col-lg-8 loading-box">
                <div *ngIf="tagList.length == 0 " class="loading-text">no results...</div>
                <ng-container *ngIf="tagList.length > 0 ">
                    <div *ngFor="let result of tagList" class="result-text">
                        <app-single-tag-node [tag]="result"
                                             (select)="selectTag($event)">
                        </app-single-tag-node>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="ls-admin-sidebar-dark">
                    <div>
                        <div class="sidebar-dark-title">Actions</div>

                        <ul>
                            <li>Change Parent Group</li>
                            <li>Create Tag</li>
                            <li>Assign Tag To User</li>
                            <li>Change Tag Name</li>
                        </ul>


                    </div>
                </div>
                <div class="ls-admin-sidebar-light">
                    <div>
                        <div class="sidebar-title">SELECTED</div>

                        <ul>
                            <li *ngFor="let result of selectedTags" class="result-text">
                                <span (dblclick)="unSelectTag(result.tag_id);">{{result.name}} ({{result.tag_id}}
                                    )</span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- results -->
        </div>
    </div>
</section>
<!--content End-->
