<!--title start-->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">
                <h2 class="title"><span>View User</span></h2>
            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
            </div>
        </div>
    </div>
</div>
<!--title end -->
<!--content start-->
<div class="breadcrumb-bg breadcrumb-for-bar breadcrumb-as-content">
    <div class="container dish-toolbar">
        <div class="row">
            <div class=" col-sm-4 col-md-6 col-lg-6">
                <div class="button-icon">
                    <span class="label">User Id:</span><span class="value">{{user.user_id}}</span>
                </div>
                <div class="button-icon">
                    <span class="label">User Email:</span><span class="value">{{user.email}}</span>
                </div>
                <div class="button-icon">
                    <span class="label">Created:</span><span class="value">{{user.creation_date | date}}</span>
                </div>
                <div class="button-icon">
                    <span class="label">Last Login:</span><span class="value">{{user.last_login | date}}</span>
                </div>
            </div>
            <div class=" col-sm-4 col-md-6 col-lg-6">
                <div class="button-icon">
                    <span class="spacer"></span>
                </div>
                <div class="button-icon">
                    <span class="label">List Count:</span><span class="value">{{user.list_count}}</span>
                </div>
                <div class="button-icon">
                    <span class="label">Dish Count:</span><span class="value">{{user.dish_count}}</span>
                </div>
                <div class="button-icon">
                    <span class="label">Meal Plan Count:</span><span class="value">{{user.meal_plan_count}}</span>
                </div>
                <span class="search-button" (click)="toggleShowUserTags()">
                         User Tag List
            </span>
                <span class="search-button" (click)="toggleShowUserTagGrid()">
                         User Tag Grid
            </span>
            </div>

        </div>

        <div class="row ">
            <!-- results -->
            <div *ngIf="showUserTags" class="col-md-12 col-lg-12 loading-box">
                <app-tags-as-list-component [tagList]="tagList"
                                            [userId]="userId"
                ></app-tags-as-list-component>
            </div>
            <div *ngIf="showUserTagGrid" class="col-md-12 col-lg-12 loading-box">
                <div class="edit-row"><span class="edit-button" (click)="goToEditGrid()">
                         edit
            </span></div>
                <app-tags-as-grid-component [tagList]="tagList"
                                            [userId]="userId"
                                            [expandAll]="true">

                </app-tags-as-grid-component>

            </div>
        </div>
    </div>

</div>
<!--content end -->
