@import '../../../assets/scss/variable';

.label {
  font-weight: bold;
  padding-right: 10px;
}

.value {
  font-weight: normal;
  padding-right: 10px;
}

.breadcrumb-as-content {
  margin-bottom: 500px;
}

.spacer {
  min-height: 20px;
  display: inline-block;
}

.search-button {
  display: inline-block;
  text-align: center;
  //margin: 15px 0px 15px 0px;
  background-color: $color_basic_orange;
  margin-right: 10px;
  border-radius: 4px;
  color: white;
  padding: 8px;

}

.edit-button {
  display: inline-block;
  text-align: right;
  //margin: 15px 0px 15px 0px;
  #background-color: $color_basic_orange;
  margin-right: 10px;
  #border-radius: 4px;
  color: $color_basic_orange;
  padding: 8px;
  text-transform: uppercase;


}

.edit-row {
  text-align: right;
}
