<span>

    <span (click)="toggleExpanded()">
        <img class="sm-button" src="../../../assets/images/listshop/icons/orangeround/orangeadd.png"
             alt="add">
    </span>
    <span (dblclick)="selectTag(tag)">
        {{tag.name}} ({{tag.tag_id}}) ({{tag.is_expanded}})
    </span>
</span>
<!-- groups -->
<ul *ngIf="tag.is_expanded">
    <li *ngFor="let group of tagGroups">
        <ng-container>
            <app-single-tag-node [tag]="group"
                                 [userId]="userId"
                                 (select)="selectTag($event)"></app-single-tag-node>
        </ng-container>
    </li>
</ul>
<!-- single tags -->
<ul *ngIf="tag.is_expanded">
    <li *ngFor="let child of tagChildren">
        <span *ngIf="child.is_display" (dblclick)="selectTag(child)">    {{child.name}} ({{child.tag_id}})
            ({{child.is_expanded}})
        </span>
    </li>
</ul>